.order-list-page {
  padding-bottom: 100px;
  .no-order {
    padding: 100px 15px 15px;
    text-align: center;
    font-size: 18px;
    color: #999;
  }
  .activity-btn {
    height: 45px;
    border-radius: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    margin: 25px 40px 0;
    font-size: 17px;
    background-color: #dc7035;
  }
}