.goods-detail-page {
  background-color: #f4f4f4;
  //  商品banner
  .detail-banner {
    width: 100%;
    height: 265px;
    padding: 0 15px;
    background-color: #fff;
    box-sizing: border-box;
  }

  .detail-img {
    display: flex;
    height: 180px;
    justify-content: center;
    img {
      width: auto;
      height: 100%;
    }
  }

  // 会员权益
  .vip-equity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #f8f3f0;
  }

  .vip-price-con {
    display: flex;
    align-items: center;
  }

  .vip-tag {
    margin-right: 10px;
    color: #fff;
    padding: 2px 10px;
    background-color: #ea5835;
    border-radius: 3px;
    font-size: 10px;
  }

  .vip-price {
    font-size: 17px;
  }

  .vip-btn {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #ea5835;

    p {
      margin-right: 15px;
    }
  }

  .label {
    color: #9e9e9e;
  }

  .address-con {
    display: flex;
    width: 100%;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 23px;
    background-color: #fff;
  }

  .address {
    flex: 1;
    margin-left: 18px;

    .top {
      display: flex;
      justify-content: space-between;
    }

    .bottom {
      color: #444;
    }
  }

  .freight-con {
    display: flex;
    align-items: center;
    padding: 5px 15px 15px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 23px;
    background-color: #fff;
  }

  .freight {
    margin-left: 18px;
  }

  //  商品详情
  .detail-con {
    background-color: #fff;
    margin-top: 10px;
    padding: 0 15px;
    .title {
      font-size: 15px;
      line-height: 50px;
    }
  }
  
  .bottom-con {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px 40px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .btn {
      width: 100%;
      line-height: 45px;
      color: #fff;
      background-color: #dc7035;
      text-align: center;
      font-size: 17px;
      border-radius: 45px
    }
  }
}