.goods-detail-page {
  background-color: #f4f4f4;
  //  商品banner
  .detail-banner {
    width: 100%;
    padding: 0 15px 15px;
    background-color: #fff;
    box-sizing: border-box;
  }

  .detail-img {
    display: flex;
    height: 180px;
    padding: 10px 0;
    justify-content: center;

    img {
      width: auto;
      height: 100%;
    }
  }

  .detail-name {
    display: flex;
    font-size: 16px;

    span {
      flex: 1;
      font-weight: 500;
    }
  }

  .goods-tag {
    flex-shrink: 0;
    font-size: 12px;
    height: 17px;
    line-height: 17px;
    color: #fff;
    background-color: #d85c1a;
    margin-right: 10px;
    padding: 0 8px;
    text-align: center;
    border-radius: 3px;
  }

  .detail-price {
    display: flex;
    font-size: 13px;
    align-items: flex-end;
    margin-top: 15px;
  }

  .new-price {
    color: #d85c19;

    span {
      font-size: 21px;
      letter-spacing: 2px;
      margin-right: 2px;
    }

    .coin-mark {
      font-size: 16px;
    }
  }

  .old-price {
    color: #aeaeae;
    text-decoration: line-through;
    margin-left: 10px;
  }

  // 会员权益
  .vip-equity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #f8f3f0;
  }

  .vip-price-con {
    display: flex;
    align-items: center;
  }

  .vip-tag {
    width: 71px;
    height: 20px;
    margin-right: 10px;
  }

  .vip-price {
    font-size: 17px;
  }

  .vip-btn {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 15px;
    color: #bf7e0b;
    padding-left: 36px;
    height: 23px;
    border-left: 1px solid #dcdcdc;

    p {
      margin-right: 5px;
    }
  }


  // 秒杀活动
  .seckill {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 29px;
    padding: 0 15px;
    font-size: 12px;
    color: #dc7035;

    .iconfont {
      font-size: 13px;
      margin-right: 4px;
      margin-top: -2px;
    }
  }

  // 规格
  .size-choose {
    display: flex;
    align-items: center;
    height: 43px;
    padding: 0 15px;
    background-color: #fff;
    font-size: 14px;
    margin-bottom: 10px;

    .choose-con {
      display: flex;
      flex: 1;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      margin-left: 18px;
      color: #969696;
    }
  }

  .label {
    color: #888;
    flex-shrink: 0;
  }

  // winner
  .winner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-top: 10px;
    padding: 0 15px;
    height: 40px;
  }
  .winner-info {
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #888;
    line-height: 1;
    span {
      color: #000;
      font-weight: 500;
      margin-left: 10px;
    }
  }
  .winner-icon {
    display: block;
    width: 25px;
    height: 19px;
    margin-right: 10px;
  }
  .address-wrap {
    margin-top: 10px;
  }

  .address-con {
    display: flex;
    width: 100%;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 23px;
    background-color: #fff;

    .iconfont {
      display: flex;
      align-items: center;
    }
  }

  .address {
    flex: 1;
    margin-left: 18px;

    &.empty {
      color: #888;
      display: flex;
      justify-content: space-between;
    }

    .top {
      display: flex;
      justify-content: space-between;
    }

    .bottom {
      display: flex;
      color: #444;
      margin-left: -2px;
    }
  }

  .freight-con {
    display: flex;
    align-items: center;
    padding: 5px 15px 15px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 23px;
    background-color: #fff;
  }

  .freight {
    margin-left: 18px;
  }

  // 限兑
  .exchange-limit {
    display: flex;
    padding: 10px 15px;
    background-color: #fff;
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;

    .limit-con {
      margin-left: 18px;
      color: #111;
    }
  }

  //  商品详情
  .detail-con {
    background-color: #fff;
    padding: 0 15px 100px;
    margin-top: 10px;

    .title {
      font-size: 14px;
      line-height: 50px;
      color: #888888;
    }

    .detail {
      font-size: 14px;
      line-height: 2.0;
      color: #333;
    }
  }


  .bottom-con {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px 40px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;

    .btn {
      display: flex;
      width: 100%;
      height: 45px;
      color: #fff;
      background-color: #dc7035;
      justify-content: center;
      align-items: center;
      font-size: 17px;
      border-radius: 45px;

      &.bg-gray {
        background-color: #888;
      }

      .iconfont {
        margin-left: 5px;
      }
    }
  }

  // 错误弹窗
  .error-modal-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
  }

  .error-modal {
    position: absolute;
    width: 290px;
    height: 220px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 12px;
    padding: 15px 0 30px;
    box-sizing: border-box;

    .iconfont {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      font-size: 18px;
    }
  }

  .error-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 32px;
      height: 27px;
      margin-bottom: 25px;
    }

    p {
      font-size: 19px;
      color: #333;
    }
  }

  .error-tip {
    text-align: center;
    font-size: 17px;
    color: #666;
    margin: 15px 0 30px
  }

  .error-customer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 41px;
    border-radius: 10px;
    color: #fff;
    background-color: #ea706e;
    margin: 0 auto;
    font-size: 19px;
  }

  .limit-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 264px;
    height: 167px;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 26px;
    box-sizing: border-box;
    .limit-logo {
      position: absolute;
      left: 50%;
      top: -30px;
      width: 52px;
      height: 60px;
      transform: translateX(-50%);

    }
    .title {
      font-size: 19px;
      text-align: center;
      margin-top: 55px;
    }
    .limit-tips {
      font-size: 15px;
      color: #666;
      margin-top: 15px;
      line-height: 1.5;
    }
    .close-btn {
      position: absolute;
      right: 0;
      top: 0;
      padding: 6px;
      color: #666;
    }
  }
}

.window-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.window-wrap .window-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 256px;
  height: 222px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
}

/* 关闭按钮 */
.window-modal .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.window-modal .close-btn img {
  width: 9px;
  height: 9px;
}

.window-wrap .title {
  font-size: 19px;
  color: #333;
  text-align: center;
}

.window-wrap .modal-tips {
  font-size: 12px;
  color: #666;
  text-align: center;
}

.window-wrap .modal-tips p {
  line-height: 17px;
}

.window-wrap .options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.window-wrap .options .btn {
  width: 98px;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-color: #fc6769;
  border-radius: 10px;
}



.vip-upgrade-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 66px 0 33px;
  box-sizing: border-box;
}

.customer-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  width: 113px;
  height: 83px;
}
.vip-upgrade-modal .options .btn {
  width: 172px;
  height: 44px;
  line-height: 44px;
  font-size: 19px;
}