.classify-goods-item-component {
  display: flex;
  align-items: center;
  height: 129px;
  border-bottom: 1px solid #e7e7e7;
  padding: 18px 15px;
  box-sizing: border-box;
  .goods-img {
    width: 95px;
    height: 95px;
    margin-right: 15px;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .goods-info {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }

  .goods-name {
    width: 190px;
    font-size: 18px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
  }

  
  .tag-list {
    display: flex;
    p {
      width: 40px;
      border-radius: 5px;
      text-align: center;
      font-size: 8px;
      height: 16px;
      line-height: 16px;
      border: 1px solid #e0483d;
      color: #e0483d;
      margin-right: 5px;
    }
  }

  .price {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #f76c21;
  }

  .vip-tag {
    width: 71px;
    height: 20px;
    margin-left: 10px;
    border-radius: 3px;
    overflow: hidden;
  }

  .exchange-con {
    flex: 1;
    text-align: right;
  }
  .exchange-btn {
    float: right;
    width: 45px;
    height: 27px;
    color: #fff;
    line-height: 27px;
    text-align: center;
    font-size: 14px;
    background-color: #e7570f;
    border-radius: 5px;
    &.no-exchange {
      background-color: #d5d5d5;
    }
  }
}