.confirm-modal {
  position: absolute;
  width: 326px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 25px;

  .title {
    font-size: 18px;
    text-align: center;
    line-height: 1;
    padding: 30px 0;
    font-weight: 500;
  }

  .label {
    color: #c9c9c9;
  }

  .receipt-address {
    display: flex;
    padding: 0 25px;
    .region {
      padding-right: 10px;
    }

    span {
      color: #c9c9c9;
    }

    .iconfont {
      color: #c9c9c9;
    }
  }

  .sku-info {
    display: flex;
    margin-top: 20px;
    padding: 0 25px;
  }

  .exchange-coin {
    display: flex;
    margin-top: 20px;
    padding: 0 25px;
    .coin {
      color: #dc7035;
    }
  }

  .button-con {
    display: flex;
    border-top: 1px solid #eee;
    margin-top: 32px;
    div {
      flex: 1;
      height: 70px;
      line-height: 70px;
      font-size: 18px;
      text-align: center;
    }

    .cancel {
      color: #666;
      border-right: 1px solid #eee;
    }

    .confirm {
      color: #dc7035;
    }
  }
}